<h4 class='page-header'>Results</h4>

<% if @results.empty? %>
  <h3>No Matching Results</h3>
<% else %>
  <h3>Subs</h3>
  <% @results.each do |sub| %>
    <ul>
      <li><a href="<%= sub_url(sub) %>"><p><%= sub.title %></p></a></li>
    </ul>
  <% end %>
<% end %>

