<%= render 'shared/flashes' %>

<% if current_user %>
  <h1>Subcribed Subs!</h1>
  <%= render 'shared/subs', subs: @subs[:subscriptions] %>
  <h1>Your Subs!</h1>
  <%= render 'shared/subs', subs: @subs[:my_subs] %>
<% else %>
  <h1>All The Subs!</h1>
  <%= render 'shared/subs', subs: @subs[:all_subs] %>
<% end %>