<%= link_to "#{comment.content} by #{comment.author.username}", comment_url(comment) %>
<% children = comment.child_comments %>
<% if !children.empty? %>
  <ul>
    <% children.each do |child| %>
    <li><%= render 'comment', comment: child %></li>  
    <% end %>
  </ul>
<% end %>