(<%= score(c1) %>) <%= link_to "#{c1.content} by #{c1.author.username}", comment_url(c1) %>
<ul>
  <% @comments_by_parent_id[c1.id].each do |c2| %>
    <li><%= render 'comment', c1: c2%></li>
  <% end %>
</ul>